/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}
.search-icon {
  align-items: center;
  display: flex;
}
.header-icons2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header-icons2 h3 {
  color: #ff2288;
}
.header-icons2 div {
  margin-right: 35px;
}
.header-icons span {
  background-color: #ff2288;
  border-radius: 12px;
  width: 129px;
  height: 56px;
  cursor: pointer;
  text-align: center;
  padding-top: 17px;
}
.logo {
  display: flex;
  padding: 42px 0 0 30px;
  margin-bottom: 124px;
  font-family: "Avenir LT Std";
}
.navbar {
  width: 288px;
}
aside {
  background-color: #222222;
  height: 1080px;
}
.navbar-li {
  display: flex;
  margin-bottom: 54px;
  padding-left: 60px;
  align-items: center;
}
.navbar-li:hover {
  background-color: #ff2288;
  border-radius: 12px;
  width: 259px;
  height: 60px;
  margin-left: 30px;
  transition-delay: 0.1s;
  transition-duration: 0.7s;
}
.navbar-li a {
  margin-left: 15px;
  color: #fff;
}
.burger {
  flex-direction: column;
  padding-top: 10px;
  cursor: pointer;
}
.burger span {
  background-color: #fff;
  border-radius: 10px;
  margin: 3px 0 0 87px;
  display: flex;
  width: 17px;
  height: 2px;
}
.follow-text {
  color: #fff;
  font-size: 12px;
  padding-left: 60px;
}
.icon-text {
  flex-direction: column;
  margin-left: 60px;
  margin-top: 31px;
}
.icon-text2 {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 15px;
}
.icon-text2 span {
  margin-left: 20px;
  font-size: 16px;
}
.load-text {
  color: #fff;
  font-size: 14px;
  margin-top: 32px;
  margin-left: 60px;
}
.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 87px;
  font-family: "Avenir LT Std";
}
.topics h3 {
  margin-left: 52px;
}
.filter-text {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 100px;
}
.filter-text img {
  margin-right: 15px;
}
.photo-text {
  margin-top: 59px;
}
.photo-text1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.photo-text1 img {
  width: 250px;
  height: 210px;
}
.photo-text2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.photo-text2 img {
  width: 250px;
  height: 210px;
}
.photo-text1 h2 {
  width: 250px;
  height: 52px;
  font-size: 15px;
  flex-wrap: wrap;
  font-family: "Avenir LT Std";
}
.photo-text2 h2 {
  width: 250px;
  height: 52px;
  font-size: 15px;
  font-family: "Avenir LT Std";
}
.load-more-text {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin-top: 70px;
}
.lead-more-text h2 {
  font-size: 16px;
  color: #222222;
  padding: 16px 108px 19px 105px;
}
.top-designers {
  margin-top: 183px;
  margin-left: 65px;
}
.designers-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Avenir LT Std";
}
.designers-text div {
  margin-right: 25px;
  text-align: center;
  margin-top: 54px;
}
.designers-text img {
  width: 132px;
  height: 132px;
}
.country {
  opacity: 0.6;
  font-size: 12px;
  margin-top: 10px;
}
.designers-text h4 {
  font-size: 14px;
  margin-top: 29px;
  border-radius: 12px;
}
.designers-text h2 {
  font-size: 16px;
  margin-top: 15px;
}
.name {
  background-color: #f2f2f2;
  width: 132px;
  height: 44px;
  border-radius: 12px;
}
.footer-content {
  display: flex;
  margin-top: 142px;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #222222;
  font-family: "Avenir LT Std";
}
.for-designers h2 {
  margin-bottom: 36px;
}
.for-designers h3 {
  font-size: 16px;
  margin-top: 10px;
}
.Hire-designers h2 {
  margin-bottom: 36px;
}
.Hire-designers h3 {
  margin-top: 15px;
}
.brands {
  margin-top: 41px;
}
.company h2 {
  margin-bottom: 36px;
}
.company h3 {
  margin-bottom: 15px;
}
.Directories h2 {
  margin-bottom: 36px;
}
.Directories h3 {
  margin-bottom: 15px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 153px;
  justify-content: space-between;
}
.smart-text span {
  color: #222222;
}

.full-width {
  width: 100%;
}
.list-content {
  margin-top: 119px;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Avenir LT Std";
}
.list h2 {
  margin-bottom: 62px;
  font-size: 18px;
}
.list h4 {
  margin-bottom: 62px;
  color: #afafaf;
  font-size: 16px;
}
.text-color h4 {
  color: #222222;
}
.text-color1 h4 {
  color: #ff2288;
}
.list2 {
  padding-left: 80px;
  text-align: center;
}
.list4 {
  margin-right: 150px;
  text-align: center;
}
